#mainheading {
  text-align: center;
  font-size: 3rem;
  background-color: dodgerblue;
  color: black;
  border-radius: 15px; 
  border: 10px solid deeppink;
  box-shadow: 10px 10px 10px brown;
  



}
#elonmuskheading{
background-color: blueviolet;
color: yellow;
width: 150px;

    






}
#muskdescription{
font-size: 1rem;
color: darkorange;






}
#jeffheading{

background-color: pink;
color: darkmagenta;
width: 150px;






}
#jeffdescr{
font-size: 1rem;
color: blue;}



#markheading{
background-color: lightblue;
color: darkgoldenrod;
width: 200px;








}
#markdescription{
color: violet;
font-size: 1rem;


}









































